python3 libraries: argparse, datetime, logging, os, pandas, subprocess

Loadable modules on cluster: 
ANTs ## wbseg to ants 
c3d  ## nearly everything
greedy ##pet stats make t2 SUVR 
ImageMagick ## petreg, ashs
matlab ## mtthk 
PETPVC/1.2.10 ## t2-pet reg
singularity or apptainer ## longANTs, hd-bet skull strip for flair, WMH segmentation for flair
vtk/7.1.1 ## mtthk

ASHS installed 
variable ASHSROOT=<install location> as part of your PATH

Singularity containers for: 
LongANTS
WMH
flair skull strip 